<manifest package="cos.mos.toolkit"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <!--指纹验证-->
    <uses-cos.mos.utils.ui.permission android:name="android.cos.mos.utils.ui.permission.USE_FINGERPRINT"/>
    <!-- 获取网络状态改变的权限 -->
    <uses-cos.mos.utils.ui.permission android:name="android.cos.mos.utils.ui.permission.ACCESS_NETWORK_STATE"/>
    <uses-cos.mos.utils.ui.permission android:name="android.cos.mos.utils.ui.permission.CHANGE_NETWORK_STATE"/>
    <!--读取手机状态信息-->
    <uses-cos.mos.utils.ui.permission android:name="android.cos.mos.utils.ui.permission.READ_PHONE_STATE"/>
    <!-- 震动 -->
    <uses-cos.mos.utils.ui.permission android:name="android.cos.mos.utils.ui.permission.VIBRATE"/>
    <uses-cos.mos.utils.ui.permission android:name="android.cos.mos.utils.ui.permission.MODIFY_AUDIO_SETTINGS"/>
</manifest>
